@model IEnumerable<ClassroomVM>

<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h2 class="text-dark">Danh sách lớp @ViewBag.SubjectName</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Classroom" asp-action="Create" asp-route-id="@ViewBag.SubjectId" class="btn btn-success w-25"><i class="bi bi-plus-circle"></i> Thêm sinh viên</a>
			<a asp-controller="Classroom" asp-action="Index" class="btn btn-dark w-25">Trở về</a>
		</div>
	</div>
	<table class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th style="width:3%">Id</th>
				<th style="width:20%">Tên sinh viên</th>
				<th style="width:13%">Điểm quá trình</th>
				<th style="width:13%">Điểm thành phần</th>
				<th style="width:13%">Điểm tổng kết</th>
				<th style="width:8%">Kết quả</th>
				<th style="width:30%"></th>

			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td>@obj.Classroom.ClassroomId</td>
					<td>@obj.StudentName</td>
					<td>@obj.Classroom.FirstGrade</td>
					<td>@obj.Classroom.SecondGrade</td>
					<td>@obj.Classroom.FinalGrade</td>
					<td>@(@obj.Classroom.FinalGrade >=4 ? @Classroom.Result.Pass : @Classroom.Result.Fail) </td>
					<td>
						<div class="text-center">
							<a asp-controller="Classroom" asp-action="Edit" asp-route-id="@obj.Classroom.ClassroomId" class="btn btn-warning mx-2 w-50">
								<i class="bi bi-pencil"></i> Nhập điểm
							</a>
							<a asp-controller="Classroom" asp-action="Delete" asp-route-id="@obj.Classroom.ClassroomId" asp-route-subjectId="@ViewBag.SubjectId" class="btn btn-danger mx-2 w-25">
								<i class="bi bi-trash3"></i> Xóa
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>